{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        Can't access this page .Please click <a href="{{ path('login') }}"> return to the login page</a>.
    </p>
{% endblock %}
